*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background: linear-gradient(135deg, #1a1c20, #222831);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}


#box{
  width:100%;
  max-width:550px;
  min-height:350px;         
  background:#2b2f36;
  padding:35px 28px;
  border-radius:16px;
  flex-shrink:0;            
  text-align:center;

  border:2px solid rgba(212,175,55,0.5);
  box-shadow:
    0 0 25px rgba(212,175,55,0.3),
    inset 0 0 15px rgba(0,255,245,0.15);
}


#quote-text{
  max-width:100%;
  margin:0 auto 25px;
  white-space:pre-line;
  word-break:break-word;

 
  font-size:clamp(18px, 4vw, 28px);
  line-height:clamp(26px, 5vw, 38px);

  font-weight:600;
  background:linear-gradient(90deg,#d4af37,#ffe680,#d4af37);
  -webkit-background-clip:text;
  color:transparent;
  text-shadow:0 0 10px rgba(0,0,0,0.3);
}


.color-line{
  width:60%;
  height:5px;
  background:linear-gradient(90deg,red,yellow,green,cyan);
  margin:0 auto 20px;
  border-radius:10px;
}


button{
  padding:14px 35px;
  font-size:18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-weight:700;
  flex-shrink:0;
  background: linear-gradient(90deg,#ff3333,#ffbb00);
  box-shadow:0 0 12px rgba(255,200,0,0.6);
  transition:0.3s ease;
}
button:hover{
  transform:scale(1.07);
}
.subtitle{
  color:#ffffff;
  margin-bottom:15px;
  font-size:20px;
  font-weight:600;
}
.quote-icon{
  font-size:50px;
  color:#ffffff;
  margin-bottom:10px;
}

@media(max-width:480px){

  #box{
    max-width:90%;
    padding:28px 20px;
    min-height:300px;   
  }

  button{
    padding:12px 24px;
    font-size:16px;
  }
}
